{{ partial "global-header.html" . }}

<section id="join-us">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <h3>FOSSers is a community of students :</h3>
          <ol style="list-style-type: disc;">
            <li>to promote <a href="https://en.wikipedia.org/wiki/Free_software" target="_blank">Free/Libre/സ്വതന്ത്ര softwares</a></li>
            <li>to promote sharing of knowledge</li>
            <li>to promote Openness/Freedom in all aspects</li>
            <li>to equip students with technical knowledge</li>
            <li>to grow as a community and help each other ❤️</li>
            <li>to contribute to society as a whole</li>
          </ol>
          <h3>What Do We Do ?</h3>
          <ol style="list-style-type: disc;">
            <li>We conduct both technical and non-technical workshops for students</li>
            <li>Introduce students to various intiatives like Summer of Code, Outreachy etc.</li>
            <li>Help Open Source Projects in tasks like documentation, translation etc.</li>
            <li>Introduce the public to FOSS Tools. We have artists who use <a href="https://meta.wikimedia.org/wiki/User:Subins2000/Open_Source_Design_Tools">FOSS for their works</a>. Check out the <a href="http://gitlab.com/FOSSers/artwork">artwork we've made</a>.</li>
          </ol>
          <p>
            <a class="btn btn-lg btn-primary" href="http://news.vidyaacademy.ac.in/tag/fossers/" target="_blank">Events We Conducted</a>
            <a class="btn btn-success btn-lg" href="/blog" target="_blank">Our Blog</a>
          </p>
          <h3>How to join ?</h3>
          <p>You can join us anytime ! There's no membership fees.</p>
          <p>
            <a href="/contact">Contact us</a>, Join our <a href="https://lists.fsci.org.in/postorius/lists/fossersvast.lists.fsci.org.in/">mailing list</a> & <b>participate in our events</b>. That's basically it !
          </p>
        </div>
        <style>
          #join-us, #join-us p {
            font-size: 18px
          }
        </style>
      </div>
    </div>
  </div>
</section>
