{{ partial "global-header.html" . }}

<!-- Service Start -->
<section id="service">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.service.title }}</h2>
        <p>{{ .Site.Data.service.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.service.content }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="{{ .url }}">
            <img src="{{ $.Site.BaseURL }}{{ .image }}" style="max-height: 100px;max-width: 100%;" async="async">
          </a>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
